*{
    outline:1px solid red;
}
section{
    .section_one_main{
        top: -43px;
        // background-color: orangered;
        @include container(90%,5%);
        .section_one{
            display:flex;
            align-self: center;
            flex-wrap: wrap;
            @include container(80%, 10%);
            // background-color: black;

            .list_items{
                width: 100%;
                // background-color: blue;
                box-shadow: 2px 3px 6px #33333346;
      
            }
        }
    }
    .section_two{
        display: block;
        @include container(85%,7.5%);

        .right_div_before{
            display:block;
            @include container(80%, 10%);
            padding:60px 0px 50px 0px;
            img{
                @include container(80%, 10%);
            }
         }

        .left_div{
            width:100%;
            margin: 0px;

            h1{
                font-size: 27px;
                text-align: center;
                font-weight: 900;
                width: 100%;
            }
            p{
                width: 100%;
                font-size: 20px;
                font-weight: 300;
                text-align: center;
                letter-spacing: 0px;
                padding:30px 0px 10px 0px;
            }

            ul{
                li{
                    line-height: 1.8;
                }
            }
            button{
                width:100%;
                padding:14px 14px 14px 14px;
            }
        }
        .right_div{
            display:none;
         }
    }
    .section_three{
        h1{
            font-size: 28px;
            font-weight: 700;
            margin:-50px 0px 0px 0px;
        }
        p{
            font-size: 22px;

        }
        .reasons_to_choose_Domain{
            display:block;
            margin: -50px 0px 10px 0px;
            .reason{
                width:100%;
                margin: 15px 0px 10px 0px;
                
                .trusted_source{
                    padding-top: 40px;
                    h2{
                        font-size: 16px;
                        font-weight: 300px;
                        color: $footer_background;
                    }
                    p{
                        font-size: 16px;
                        font-weight: 300;
                        display: inline;
                        line-height: 1.5;
                    }
                }
            }
        }
    }
    .section_four{
        .section_four_header{
            padding-bottom:15px;
            padding-top: 80px;
            font-size:20px;
        }
        .section_four_relative{
            .heading_icon{
                h1{
                    font-size:18px !important;
                    font-weight: 600;
                    width:100%;
                }
            }
            
            .section_four_absolute{
                .heading_description{
                    font-size:14px;
                    font-weight:400;
                }
              
            }
            .heading_description, .domain_names{
                span{
                    a{
                        font-size:14px;
                        font-weight:400;
                    }
                }
            }
        }
    }
    .section_five{
        margin-top: 89px;
        @include container(95%,2.5%);
        .section5_flexbox{
            display: block;
            .section_five_mobile_img{
                display: block;
                width:50%;
                margin-left:25%;
                padding:70px 0px 30px 0px;
            }
            .section_five_img{
                display:none;
            }
            .right_block{
                width: 100%;
                margin:10px 0px 0px 0px;
                .heading_description{
                    font-size: 16px;
                    font-weight: 300;
                    width: auto;
                }
                .how_to_choose_domain{
                    a{
                        font-size: 14px;
                        font-weight: 400;
                    }
                }
            }
        }
    }
}

.regular_rate{
    p{
        a{
            font-size:14px;
            font-weight:500;
        }
    }
}

//style for section six

section{
    .section_six{
        display: block;
        h1{
            text-align: center;
        }
        .section_five_ul{
            text-align: center;
            display: block;
            .list_items{
                padding:15px 0px 5px 0px;
               a{
                    font-size: 14px;
               }
            }
        }
    }
}