@mixin styleType {
    list-style: none;
    text-decoration: none;
}
@mixin displayElementsflex ($align) {
    display: flex;
    justify-content: space-between;
    align-items: $align;
}
@mixin new {

}
@mixin container($width,$margin_left){
    width: $width;
    margin-left:$margin_left;
}
@mixin sectionWidth-backgroudColor ($back-ground,$width) {
    background-color: $back-ground;
    width: $width;
}
@mixin inputSearch($border-bottom,$background,$color,$font-size,$width,$height){
    border: none;
    outline: none;
    border-bottom:$border-bottom;
    background: $background;
    color: $color;
    font-size: $font-size;
    width: $width;
    height: $height;
}
@mixin footerContainer ($display,$width, $marginLeft) {
    display: $display;
    width: $width;
    margin:80px 0px 0px 0px;
    margin-left: $marginLeft;
}