*{
    // overflow-x: hidden;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Lato', sans-serif; ;
    overflow-x: hidden;
}
ul li{
    list-style: none;
}
ul li a, a{
    text-decoration: none;
}
button{
    cursor:pointer;
}
body{
    overflow-x: hidden;
}