header{
    .header_section{
        background-color: $global;
      
        .container{
            padding: 0px 0px ;
            @include container(85%,7.5%);
            @include displayElementsflex(center);
            padding: 25px 0px 18px 0px;
            .logo{
                width:150px;
                // height:10px;
                a img{
                    width:100%;
                    // height:0px;
                }
            }
            #nav_panel{
                @include displayElementsflex(center);
                margin: 0px 158px 0px 0px;
                .nav_panel_elements{
                    display: inherit;
                    justify-content: space-between;

                    .nav_list_relative{
                        position: relative;
                        cursor: default;
                        margin: 0px 0px 0px 10px;
                        font-family:$font_family;
                        font-size:14px;
                        font-weight:500;
                        color:$footer_background;
                        &:hover  .i{
                            color:$red_background;
                        }

                        &:hover  .nav_list_absolute{
                            display: block;
                        }
                        i{
                            font-size: 14px;
                            //
                        }

                        .nav_list_absolute{
                            position: absolute;
                            z-index: 1;
                            display: none;
                            background-color: $global;
                            width: 260px;
                            padding-top: 20px;

                            .search_input{
                                border-radius: 5px;
                                border: 1px solid rgb(223, 221, 221);
                                margin: 68px 90px 20px 10px;
                                color: $footer_background;
                                @include displayElementsflex(center);
                                width:100%;
                                height:43px;
                                overflow: hidden;

                                .type_search{
                                    color: $footer_background;
                                    background: transparent;
                                    border:none;
                                    font-size: 20px;
                                    padding-left:15px;
                                    outline:none;

                                }
                                .search_button{
                                    border: none;
                                    background-color:transparent;
                                    color:$red_backgroundhover;
                                    // margin: 0px 60px 0px 0px;

                                    i{
                                        color:$red_backgroundhover;
                                        font-size: 30px;
                                        // padding: 0px 80px 0px 0px;
                                    }
                                }
                            }

                            .list_items{
                                width: 100%;
                                height:45px;
                                padding: 10px 0px 0px 0px;
                                &:hover{
                                    background-color:$onhover_dropdownlist;
                                }

                                a{
                                    color:$footer_background;
                                    font-weight:500;
                                    font-size:16px;
                                    text-align: center;
                                    margin: 0px 0px 0px 10px; 

                                    &:hover{
                                        color: $footer_background;
                                        font-size:16px;
                                        text-decoration: underline;
                                    }
                                }
                                .security{
                                    color:$blue_backgroundhover;
                                    text-decoration: underline;
                                    &:hover{
                                        color:$blue_backgroundhover;
                                    }
                                }
                            }
                        }
                    }
                }

            }
        }
    }
}

.help_cart_login{
   
    
    @include displayElementsflex(center);
     //style for the help
    .nav_list_relative_help{
        position: relative;
        padding: 0px 35px 0px 0px;
        font-family:$font_family;
        font-size:14px;
        font-weight:500;
        &:hover  .nav_list_absolute_help{
            display: block;
        }
        h3{
            cursor: pointer;
        }


        h3{
            font-family:$font_family;
            &:hover{
                text-decoration:underline;
            }
        } 
        .nav_list_absolute_help{
            position: absolute;
            z-index: 1;
            display: none;
            background-color: $global;
            right:-36px; 
            width:250px;
            .help_divs{
                margin-top:10px;
                // margin-bottom:30px;
                padding:15px;
                margin:10px;
                .call_heading{
                    font-family:$font_family;
                    color: $footer_background;
                    font-size:16px; 
                    font-weight: normal;
                }
                .heading_description{
                    font-family:$font_family;
                    color: $footer_background;
                    font-size:12px; 
                 
                }
                .call_number{
                    margin-top: 13px;
                    
                }
                .chat_now{
                    width: 100%;
                    height:50px;
                    border-radius:5px;
                    border:3px solid $red_background;
                    color:$red_background;
                    font-size:14px;
                    font-weight:bold;
                    background-color:transparent;
                    margin: 20px 0px 0px 0px;
                    a{
                        color:$red_background;
                        text-align:center;
                    }

                    &:hover{
                        background-color: $red_backgroundhover;
                        a{
                            color:$global;
                        }
                    }
                }
                .browse_article{
                    width: 100%;
                    height:50px;
                    border-radius:7px;
                    border:1px solid $blue_background;
                    color:$black_color;
                    font-size:14px;
                    font-weight:bold;
                    background-color:$blue_background;
                    margin: 20px 0px 0px 0px;
                    padding:0px;

                    a{
                        color:$footer_background;
                    }

                    &:hover{
                        background-color:$blue_backgroundhover;
                        a{
                            color:$global;
                        }
                    }
                }
            }
            hr{
                width:100%;
            }
        }
    }

    //style for the cart
    .nav_list_relative_cart{
        position: relative;
        cursor: default;
        padding: 0px 35px 0px 0px;
        font-family:$font_family;
        font-size:14px;
        font-weight:500;

        &:hover  .nav_list_absolute_cart{
            display: block;
        }

        .nav_list_absolute_cart{
            position: absolute;
            z-index: 1;
            display: none;
            padding:10px;
            width:28vw;
            background-color:$global;
            right:-75px;

            label{
                font-family:$font_family;
                color: $footer_background;
                font-size:20px; 
            }
            form.shopping_cart_form{
                // background-color:black;
                width:100%;
                input{
                    padding:10px;
                    border:none;
                    border-top: 1px solid $black_color;
                    border-bottom: 1px solid $black_color;
                    font-size:14px; 
                    font-weight:700;
                    font-family: $font_family;
                    color:$black_color;
                    margin:20px 0px 15px 0px;
                    background-color: white;
                    text-align: center;
                    width:100%;
                }
                .cart_search{
                    padding:10px;
                    border:none;
                    border-radius:5px;
                    font-size:14px; 
                    font-weight:700;
                    font-family: $font_family;
                    color:$global;
                    margin:20px 0px 15px 0px;
                    background-color: $black_color;
                    text-align: center;
                    width:100%;
                    height:50px;
                }
            }
        }
    }

    button.login{
        border:none;
        background-color: white;
        font-family:$font_family;
        font-size:14px;
        font-weight:500;
        margin: 0px 0px 0px 10px;
        a{
            color:$footer_background ;
            &:hover{
                color:$red_background;
                text-decoration: underline;
            }
        }
    }
}

// style for hamburger_section
.container{
    .hamburger_cart{
        display: none;
        i{
            font-size: 29px;
        }
        #hamburger_btn{
            border: none;
            background: transparent;
            margin:0px 0px 0px 4px;

            .first_line{
                background-color: $footer_background;
                border-radius: 30px;
                width: 30px;
                height: 4px;
                margin:4px 3px 3px 4px;
            }
            .second_line{
                background-color: $footer_background;
                border-radius: 30px;
                width: 23px;
                height: 4px;
                margin:4px 0px 3px 4px;
            }
        }
    }
}

.nav_list_relative:hover i{
    color: $red_background;
}