header{
    .header_section{
        
        .hero{
            background-image: url("../../images/hero.jpg");
            background-size:cover;
            background-repeat:no-repeat;
            height:14.5cm;
            width:100%;
            // padding:150px 0px 0px 30px;
            .banner_section{
                background-color: #f4f4f431;
                height:600px;
                .form_and_headings{
                    padding:80px 0px 0px 0px;
                    @include container(85%,7.5%);
                    h3{
                        color:$global;
                        font-size: 16px;
                        font-family: $font_family;
                        line-height: 60px;
                    }
                    h1{
                        color:$global;
                        font-size: 45px;
                        word-spacing: 4px;
                        font-family:$font_family;
                    }
                    form{
                        // @include displayElementsflex(center);
                        margin: 40px 0px 0px 0px;
                         input{
                            color:$copyright_color;
                            font-size: 20px;
                            font-family: $font_family;
                            text-transform: lowercase;
                            width:85%;
                            height:60px;
                            outline: none;
                            border:none;
                            border-radius: 10px;
                            padding:0px 0px 0px 10px;
                         }
                         button{
                            border:none;
                            background-color:$red_background;
                            width:12%;
                            height:60px;
                            margin-left: 10px;
                            color:$global;
                            text-align: center;
                            border-radius: 10px;
                            font-size:20px;

                            &:hover{
                                background-color:$red_backgroundhover;
                            }
                         }
                    }
                    .transfer_domain{
                        margin-top: -15px;
                        a{
                            color:$global;
                            font-size: 14px;
                            font-family: $font_family;
                            line-height: 60px;
                            font-weight: 700;
                            transition:margin-left 6s ease-in 7s;
                        // 

                            &:hover i{
                                margin-left: 14px;
                                transition: 1s;
                            }                        }
                    }
                    .domain_consideration{
                        color:$global;
                        font-size: 28px;
                        font-family: $font_family;
                        font-weight: 700;
                        text-align: center;
                        word-spacing: 3px;
                        margin:70px 20px 0px 0px;
                    }
                }
            }
        }
    }
}