section{
    .section_six{
        display: flex;
        align-items: center;
        padding: 30px 0px 30px 20px;
        @include container(85%,7.5%);

        h1{
            font-size: 16px;
            font-weight: 700px;
            color:$footer_background;
        }

        .section_five_ul{
            display: flex;
            .list_items{
                margin-left: 30px;
                a{
                    font-size: 16px;
                    font-weight: 700;
                    color:$blue_background;
                    i{
                        padding-left: 6px;
                    }

                    &:hover{
                        color:$blue_backgroundhover;

                        i{
                            padding-left: 6px;
                            transition: 1s;
                        }
                    }
                }
            }
        }
    }
}