section {
    .section-four{
        @include container(85%,7.5%);
        .section-four-header{
            font-size:26px;
            font-weight:300;
            color:$copyright_color;
            text-align: center;
            padding-top: 90px;
            padding-bottom:70px;
        }
        #what_is, #how_do, #i_have, #domain_privacy, #how_many, #can_i, #how_much, #best_domain, #already_taken, #register_more{
            border-radius: 5px;
            padding:40px 0px 30px 30px;
            box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.103);
            h1{
                font-size:22px;
                font-weight:600;
                color:$footer_background; 
                cursor: pointer;
            }
            #what_is_absolute, #how_do_absolute, #i_have_absolute, #domain_privacy_absolute, #how_many_absolute, #can_i_absolute, #how_much_absolute, #best_domain_absolute, #already_taken_absolute, #register_more_absolute{
                padding: 10px 0px 20px 0px;
                display: block;
                .heading-description{
                    font-size:16px;
                    font-weight:400;
                    color:$footer_background;
                    line-height: 1.2;
                    padding:0px 0px 0px 30px;
                }
                .domain_names{
                    font-size:16px;
                    font-weight:400;
                    color:$footer_background;
                    padding:15px 0px 0px 30px;
                }
            }
        }
    }
}

.scetion-four-absolute{
    .section-four-absolute-ul{
        padding:0px 0px 0px 30px;
        .list-item{
            list-style-type: disc;
            font-size:14px;
            font-weight:400;
            color:$footer_background;
            padding:20px 0px 0px 0px;
        }
    }
}


.heading-description, .domain_names{
    span{
        a{
            font-size:16px;
            font-weight:700;
            color:$blue_background;

            &:hover{
                color:$blue_backgroundhover;
                text-decoration: underline;
            }
        }
    }
}