section {
    .section_four{
        @include container(80%,10%);
        .section_four_header{
            font-size:26px;
            font-weight:300;
            color:$copyright_color;
            text-align: center;
            padding-top: 90px;
            padding-bottom:70px;
        }
        // #what_is, #how_do, #i_have, #domain_privacy, #how_many, #can_i, #how_much, #best_domain, #already_taken, #register_more
       .section_four_relative{
            border-radius: 5px;
            padding:40px 0px 30px 30px;
            box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.103);
            .heading_icon{
                display: flex;
                i{
                    font-size:22px; 
                    font-weight:600;
                    color:$footer_background; 
                    cursor: pointer;
                    font-size: 14px;
                }
                h1{
                    font-size:22px;
                    font-weight:600;
                    color:$footer_background; 
                    cursor: pointer;
                    padding:0px 0px 0px 4px
                }
            }
            h1{
                font-size:22px;
                font-weight:600;
                color:$footer_background; 
                cursor: pointer;
            }
            // #what_is_absolute, #how_do_absolute, #i_have_absolute, #domain_privacy_absolute, #how_many_absolute, #can_i_absolute, #how_much_absolute, #best_domain_absolute, #already_taken_absolute, #register_more
            .section_four_absolute{
                margin: 5px 0px 0px 0px;
                // display: none;
                overflow: hidden;
                max-height: 0;
                transition: max-height 0.7s ease-out;
                .heading_description{
                    font-size:16px;
                    font-weight:400;
                    color:$footer_background;
                    line-height: 1.2;
                    padding:0px 0px 0px 30px;
                  
                }
                ul.section_four_absolute_ul{
                    li.list_item{
                        
                        list-style-type: disc;
                    }
                }
                .domain_names{
                    font-size:16px;
                    font-weight:400;
                    color:$footer_background;
                    padding:15px 0px 0px 30px;
                }
            }
        }
    }
} 

.section_four_absolute{
    .section_four_absolute_ul{
        padding:0px 0px 0px 50px;
        list-style-type: disc;
        .list_item{
            font-size:14px;
            font-weight:400;
            color:$footer_background;
            padding:20px 0px 0px 0px;
        }
    }
}


.heading_description, .domain_names{
    span{
        a{
            font-size:16px;
            font-weight:700;
            color:$blue_background;

            &:hover{
                color:$blue_backgroundhover;
                text-decoration: underline;
            }
        }
    }
}