header{
    .header_section{
        
        .hero{
            background-image: url("../../images/hero_img.jpg");
            background-size:cover;
            background-repeat:no-repeat;
            height:800px;
            width:100%;
            padding:120px 0px 0px 30px;
            // .banner_section{

            // }
        }
    }
}