$font_family:'Lato', sans-serif;
$footer_background:#333333;
$blue_backgroundhover:#24819a;
$blue_background:#2a9dbc;
$onhover_dropdownlist:#e7e7e7;
$black_color:#000000;
$red_background:#e24747;
$red_backgroundhover:#b63838;
$hero_background:#f4f4f4;
$global:#ffff;
$copyright_color:#666666;
