*{
    padding: 0px;
    margin: 0px;
}

.logo{
    width: 100px;
    height: 60px; 
    margin-left: 20px;
    background-color: white;
}
.logonav img{
    width: 100px;
    height: 60px;
    margin-top:-10px ;
}
.content{
    width: 1535px;
    height: 500px;
    padding-top: 10px;
    background-color: rgba(216, 112, 147, 0.301);
}
.content-text
{
    text-align: center;
    font-size: 30px;

}