* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

ul li, li {
  list-style: none;
}

ul li a, a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

header .header_section {
  background-color: #ffff;
}

header .header_section .container {
  padding: 0px 0px;
  width: 85%;
  margin-left: 7.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px 0px 18px 0px;
}

header .header_section .container .logo {
  width: 150px;
}

header .header_section .container .logo a img {
  width: 100%;
}

header .header_section .container #nav_panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 158px 0px 0px;
}

header .header_section .container #nav_panel .nav_panel--elements {
  display: inherit;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .header_section .container #nav_panel .nav_panel--elements .nav_list--relative {
  position: relative;
  cursor: default;
  margin: 0px 0px 0px 10px;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #333333;
}

header .header_section .container #nav_panel .nav_panel--elements .nav_list--relative:hover .nav_list_absolute {
  display: block;
}

header .header_section .container #nav_panel .nav_panel--elements .nav_list--relative .nav_list_absolute {
  position: absolute;
  z-index: 1;
  display: none;
  background-color: #ffff;
  width: 260px;
  padding-top: 20px;
}

header .header_section .container #nav_panel .nav_panel--elements .nav_list--relative .nav_list_absolute .search_input {
  border-radius: 5px;
  border: 1px solid #dfdddd;
  margin: 68px 90px 20px 10px;
  color: #333333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 43px;
  overflow: hidden;
}

header .header_section .container #nav_panel .nav_panel--elements .nav_list--relative .nav_list_absolute .search_input .type-search {
  color: #333333;
  background: transparent;
  border: none;
  font-size: 20px;
  padding-left: 15px;
  outline: none;
}

header .header_section .container #nav_panel .nav_panel--elements .nav_list--relative .nav_list_absolute .search_input .search_button {
  border: none;
  background-color: transparent;
  color: #b63838;
}

header .header_section .container #nav_panel .nav_panel--elements .nav_list--relative .nav_list_absolute .search_input .search_button i {
  color: #b63838;
  font-size: 30px;
}

header .header_section .container #nav_panel .nav_panel--elements .nav_list--relative .nav_list_absolute .list_items {
  width: 100%;
  height: 45px;
  padding: 10px 0px 0px 0px;
}

header .header_section .container #nav_panel .nav_panel--elements .nav_list--relative .nav_list_absolute .list_items:hover {
  background-color: #e7e7e7;
}

header .header_section .container #nav_panel .nav_panel--elements .nav_list--relative .nav_list_absolute .list_items a {
  color: #333333;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  margin: 0px 0px 0px 10px;
}

header .header_section .container #nav_panel .nav_panel--elements .nav_list--relative .nav_list_absolute .list_items a:hover {
  color: #333333;
  font-size: 16px;
  text-decoration: underline;
}

header .header_section .container #nav_panel .nav_panel--elements .nav_list--relative .nav_list_absolute .list_items .security {
  color: #24819a;
  text-decoration: underline;
}

header .header_section .container #nav_panel .nav_panel--elements .nav_list--relative .nav_list_absolute .list_items .security:hover {
  color: #24819a;
}

.help_cart_login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.help_cart_login .nav_list_relative_help {
  position: relative;
  padding: 0px 35px 0px 0px;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 500;
}

.help_cart_login .nav_list_relative_help:hover .nav_list_absolute_help {
  display: block;
}

.help_cart_login .nav_list_relative_help h3 {
  cursor: pointer;
}

.help_cart_login .nav_list_relative_help h3 {
  font-family: "Lato", sans-serif;
}

.help_cart_login .nav_list_relative_help h3:hover {
  text-decoration: underline;
}

.help_cart_login .nav_list_relative_help .nav_list_absolute_help {
  position: absolute;
  z-index: 1;
  display: none;
  background-color: #ffff;
  right: -36px;
  width: 250px;
}

.help_cart_login .nav_list_relative_help .nav_list_absolute_help .help_divs {
  margin-top: 10px;
  padding: 15px;
  margin: 10px;
}

.help_cart_login .nav_list_relative_help .nav_list_absolute_help .help_divs .call_heading {
  font-family: "Lato", sans-serif;
  color: #333333;
  font-size: 16px;
  font-weight: normal;
}

.help_cart_login .nav_list_relative_help .nav_list_absolute_help .help_divs .heading_description {
  font-family: "Lato", sans-serif;
  color: #333333;
  font-size: 12px;
}

.help_cart_login .nav_list_relative_help .nav_list_absolute_help .help_divs .call_number {
  margin-top: 13px;
}

.help_cart_login .nav_list_relative_help .nav_list_absolute_help .help_divs .chat_now {
  width: 100%;
  height: 50px;
  border-radius: 5px;
  border: 3px solid #e24747;
  color: #e24747;
  font-size: 14px;
  font-weight: bold;
  background-color: transparent;
  margin: 20px 0px 0px 0px;
}

.help_cart_login .nav_list_relative_help .nav_list_absolute_help .help_divs .chat_now a {
  color: #e24747;
  text-align: center;
}

.help_cart_login .nav_list_relative_help .nav_list_absolute_help .help_divs .chat_now:hover {
  background-color: #b63838;
}

.help_cart_login .nav_list_relative_help .nav_list_absolute_help .help_divs .chat_now:hover a {
  color: #ffff;
}

.help_cart_login .nav_list_relative_help .nav_list_absolute_help .help_divs .browse_article {
  width: 100%;
  height: 50px;
  border-radius: 7px;
  border: 1px solid #2a9dbc;
  color: #000000;
  font-size: 14px;
  font-weight: bold;
  background-color: #2a9dbc;
  margin: 20px 0px 0px 0px;
  padding: 0px;
}

.help_cart_login .nav_list_relative_help .nav_list_absolute_help .help_divs .browse_article a {
  color: #333333;
}

.help_cart_login .nav_list_relative_help .nav_list_absolute_help .help_divs .browse_article:hover {
  background-color: #24819a;
}

.help_cart_login .nav_list_relative_help .nav_list_absolute_help .help_divs .browse_article:hover a {
  color: #ffff;
}

.help_cart_login .nav_list_relative_help .nav_list_absolute_help hr {
  width: 100%;
}

.help_cart_login .nav_list_relative_cart {
  position: relative;
  cursor: default;
  padding: 0px 35px 0px 0px;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 500;
}

.help_cart_login .nav_list_relative_cart:hover .nav_list_absolute_cart {
  display: block;
}

.help_cart_login .nav_list_relative_cart .nav_list_absolute_cart {
  position: absolute;
  z-index: 1;
  display: none;
  padding: 10px;
  width: 28vw;
  background-color: #ffff;
  right: -75px;
}

.help_cart_login .nav_list_relative_cart .nav_list_absolute_cart label {
  font-family: "Lato", sans-serif;
  color: #333333;
  font-size: 20px;
}

.help_cart_login .nav_list_relative_cart .nav_list_absolute_cart form.shopping_cart_form {
  width: 100%;
}

.help_cart_login .nav_list_relative_cart .nav_list_absolute_cart form.shopping_cart_form input {
  padding: 10px;
  border: none;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
  font-size: 20px;
  font-family: "Lato", sans-serif;
  color: #000000;
  margin: 20px 0px 15px 0px;
  background-color: white;
  text-align: center;
  width: 100%;
}

.help_cart_login .nav_list_relative_cart .nav_list_absolute_cart form.shopping_cart_form .cart_search {
  padding: 10px;
  border: none;
  border-radius: 15px;
  font-size: 20px;
  font-weight: bold;
  font-family: "Lato", sans-serif;
  color: #ffff;
  margin: 20px 0px 15px 0px;
  background-color: #000000;
  text-align: center;
  width: 100%;
  height: 70px;
}

.help_cart_login button.login {
  border: none;
  background-color: white;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 500;
  margin: 0px 0px 0px 10px;
}

.help_cart_login button.login a {
  color: #333333;
}

.help_cart_login button.login a:hover {
  color: #e24747;
  text-decoration: underline;
}

.container .hamburger_cart {
  display: none;
}

.container .hamburger_cart i {
  font-size: 29px;
}

.container .hamburger_cart #hamburger_btn {
  border: none;
  background: transparent;
  margin: 0px 0px 0px 4px;
}

.container .hamburger_cart #hamburger_btn .first_line {
  background-color: #333333;
  border-radius: 30px;
  width: 30px;
  height: 4px;
  margin: 4px 3px 3px 4px;
}

.container .hamburger_cart #hamburger_btn .second_line {
  background-color: #333333;
  border-radius: 30px;
  width: 23px;
  height: 4px;
  margin: 4px 0px 3px 4px;
}

header .header_section .hero {
  background-image: url("../../images/hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 14.5cm;
  width: 100%;
}

header .header_section .hero .banner_section {
  background-color: #f4f4f431;
  height: 600px;
}

header .header_section .hero .banner_section .form_and_headings {
  padding: 80px 0px 0px 0px;
  width: 85%;
  margin-left: 7.5%;
}

header .header_section .hero .banner_section .form_and_headings h3 {
  color: #ffff;
  font-size: 16px;
  font-family: "Lato", sans-serif;
  line-height: 60px;
}

header .header_section .hero .banner_section .form_and_headings h1 {
  color: #ffff;
  font-size: 45px;
  word-spacing: 4px;
  font-family: "Lato", sans-serif;
}

header .header_section .hero .banner_section .form_and_headings form {
  margin: 40px 0px 0px 0px;
}

header .header_section .hero .banner_section .form_and_headings form input {
  color: #666666;
  font-size: 26px;
  font-weight: 300;
  font-family: "Lato", sans-serif;
  text-transform: lowercase;
  width: 85%;
  height: 60px;
  outline: none;
  border: none;
  border-radius: 10px;
  padding: 0px 0px 0px 10px;
}

header .header_section .hero .banner_section .form_and_headings form button {
  border: none;
  background-color: #e24747;
  width: 12%;
  height: 60px;
  margin-left: 10px;
  color: #ffff;
  text-align: center;
  border-radius: 10px;
  font-size: 20px;
}

header .header_section .hero .banner_section .form_and_headings form button:hover {
  background-color: #b63838;
}

header .header_section .hero .banner_section .form_and_headings .transfer_domain {
  margin-top: -15px;
}

header .header_section .hero .banner_section .form_and_headings .transfer_domain a {
  color: #ffff;
  font-size: 14px;
  font-family: "Lato", sans-serif;
  line-height: 60px;
  font-weight: 700;
  -webkit-transition: margin-left 6s ease-in 7s;
  transition: margin-left 6s ease-in 7s;
}

header .header_section .hero .banner_section .form_and_headings .transfer_domain a:hover i {
  margin-left: 14px;
  -webkit-transition: 1s;
  transition: 1s;
}

header .header_section .hero .banner_section .form_and_headings .domain_consideration {
  color: #ffff;
  font-size: 28px;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  text-align: center;
  word-spacing: 3px;
  margin: 70px 20px 0px 0px;
}

section .section_one {
  position: relative;
  top: -80px;
}

section .section_one .section-one {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  width: 85%;
  margin-left: 7.5%;
}

section .section_one .section-one .list-items {
  width: 95%;
  background-color: #ffff;
  border-radius: 5px;
  margin: 20px 0px 0px 0px;
  padding: 27px 20px 30px 30px;
  -webkit-box-shadow: 2px 4px 6px #33333346;
          box-shadow: 2px 4px 6px #33333346;
}

section .section_one .section-one .list-items h1 {
  font-size: 45px;
  color: #333333;
}

section .section_one .section-one .list-items h1 span {
  color: #e24747;
  font-size: 50px;
}

section .section_one .section-one .list-items .headingDescription {
  font-size: 17px;
  font-weight: 400;
  color: #333333;
  padding: 25px 0px 20px 0px;
  line-height: 1.4;
}

section .section_one .section-one .list-items .pricePer-year {
  font-size: 20px;
  font-weight: 300;
  color: #666666;
  letter-spacing: 1px;
}

section .section_one .section-one .list-items button {
  width: 100%;
  border-radius: 5px;
  background-color: transparent;
  border: 3px solid #000000;
  padding: 16px;
}

section .section_one .section-one .list-items button a {
  color: black;
  font-size: 15px;
}

section .section_one .section-one .list-items button:hover {
  background-color: #000000;
}

section .section_one .section-one .list-items button:hover a {
  color: #ffff;
}

.section-two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 85%;
  margin-left: 7.5%;
}

.section-two .right-div_before {
  display: none;
}

.section-two .left-div {
  width: 50%;
  margin-left: 25px;
}

.section-two .left-div h1 {
  font-size: 45px;
  text-shadow: 5px;
  text-shadow: 1px 1px 2px #333333;
}

.section-two .left-div p {
  padding: 50px 0px 10px 0px;
  font-size: 30px;
  font-weight: 300;
  color: #333333;
}

.section-two .left-div ul li {
  list-style-type: disc;
  font-size: 15px;
  padding-top: 5px;
  line-height: 1.6;
  color: #333333;
  margin-left: 20px;
}

.section-two .left-div button {
  width: 40%;
  border-radius: 5px;
  background-color: #000000;
  padding: 12px;
  margin-top: 25px;
}

.section-two .left-div button:hover {
  background-color: #333333;
}

.section-two .left-div button a {
  color: #ffff;
}

section .section-three {
  width: 85%;
  margin-left: 7.5%;
  margin-top: 90px;
}

section .section-three h1 {
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  padding: 0px 0px 20px 0px;
  text-shadow: 1px 1px 3px #333333;
}

section .section-three p {
  text-align: center;
  font-size: 26px;
  font-weight: 300;
  padding: 0px 0px 100px 0px;
  color: #666666;
}

section .section-three .reasons-to-choose-Domain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section .section-three .reasons-to-choose-Domain .reason {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 32%;
}

section .section-three .reasons-to-choose-Domain .reason .section4_image {
  margin: 0px 0px 0px 0px;
}

section .section-three .reasons-to-choose-Domain .reason .trusted_source {
  margin: 0px 0px 0px 15px;
}

section .section-three .reasons-to-choose-Domain .reason .trusted_source h2 {
  font-size: 18px;
  font-weight: 700;
  padding: 0px 0px 20px 0px;
}

section .section-three .reasons-to-choose-Domain .reason .trusted_source p {
  font-size: 16px;
  font-weight: 300;
  display: inline;
  line-height: 1.5;
}

section .section-four {
  width: 85%;
  margin-left: 7.5%;
}

section .section-four .section-four-header {
  font-size: 26px;
  font-weight: 300;
  color: #666666;
  text-align: center;
  padding-top: 90px;
  padding-bottom: 70px;
}

section .section-four .section-four-relative, section .section-four #section-four-relative {
  border-radius: 5px;
  padding: 40px 0px 30px 30px;
  -webkit-box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.103);
          box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.103);
}

section .section-four .section-four-relative h1, section .section-four #section-four-relative h1 {
  font-size: 22px;
  font-weight: 600;
  color: #333333;
  cursor: pointer;
}

section .section-four .section-four-relative .scetion-four-absolute, section .section-four .section-four-relative #scetion-four-absolute, section .section-four #section-four-relative .scetion-four-absolute, section .section-four #section-four-relative #scetion-four-absolute {
  padding: 10px 0px 20px 0px;
  display: block;
}

section .section-four .section-four-relative .scetion-four-absolute .heading-description, section .section-four .section-four-relative #scetion-four-absolute .heading-description, section .section-four #section-four-relative .scetion-four-absolute .heading-description, section .section-four #section-four-relative #scetion-four-absolute .heading-description {
  font-size: 16px;
  font-weight: 400;
  color: #333333;
  line-height: 1.2;
  padding: 0px 0px 0px 30px;
}

section .section-four .section-four-relative .scetion-four-absolute .domain_names, section .section-four .section-four-relative #scetion-four-absolute .domain_names, section .section-four #section-four-relative .scetion-four-absolute .domain_names, section .section-four #section-four-relative #scetion-four-absolute .domain_names {
  font-size: 16px;
  font-weight: 400;
  color: #333333;
  padding: 15px 0px 0px 30px;
}

.scetion-four-absolute .section-four-absolute-ul {
  padding: 0px 0px 0px 30px;
}

.scetion-four-absolute .section-four-absolute-ul .list-item {
  list-style-type: disc;
  font-size: 14px;
  font-weight: 400;
  color: #333333;
  padding: 20px 0px 0px 0px;
}

.heading-description span a, .domain_names span a {
  font-size: 16px;
  font-weight: 700;
  color: #2a9dbc;
}

.heading-description span a:hover, .domain_names span a:hover {
  color: #24819a;
  text-decoration: underline;
}

section .section-five {
  margin: 20px 0px 60px 0px;
  width: 85%;
  margin-left: 7.5%;
  border-radius: 5px;
  -webkit-box-shadow: 9px 9px 8px #f4f4f4;
          box-shadow: 9px 9px 8px #f4f4f4;
}

section .section-five .section5_flexbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section .section-five .section5_flexbox .section-five_mobile-img {
  display: none;
}

section .section-five .section5_flexbox .right-block {
  margin: 20px 0px 0px 60px;
}

section .section-five .section5_flexbox .right-block .section-five-heading {
  font-size: 22px;
  font-weight: 300;
  color: #333333;
  padding: 0px 0px 15px 0px;
}

section .section-five .section5_flexbox .right-block .heading-description {
  font-size: 16px;
  font-weight: 300;
  color: #333333;
  padding: 0px 0px 30px 0px;
}

section .section-five .section5_flexbox .right-block .how-to-choose-domain {
  padding: 0px 0px 20px 0px;
}

section .section-five .section5_flexbox .right-block .how-to-choose-domain a {
  font-size: 16px;
  font-weight: 700;
  color: #2a9dbc;
}

section .section-five .section5_flexbox .right-block .how-to-choose-domain a:hover {
  color: #24819a;
  text-decoration: underline;
}

section .section-five .section5_flexbox .right-block .how-to-choose-domain a:hover i {
  margin-left: 14px;
  -webkit-transition: 1s;
  transition: 1s;
}

section .section-five .section5_flexbox .right-block hr {
  margin: 10px 0px 40px 0px;
}

.regular_rate {
  margin-bottom: 50px;
  width: 85%;
  margin-left: 7.5%;
}

.regular_rate p {
  font-size: 14px;
  font-weight: 400;
  color: #666666;
}

.regular_rate p a {
  font-size: 14px;
  font-weight: 700;
  color: #2a9dbc;
}

.regular_rate p a:hover {
  color: #24819a;
  text-decoration: underline;
}

section .section-six {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 0px 30px 20px;
  width: 85%;
  margin-left: 7.5%;
}

section .section-six h1 {
  font-size: 16px;
  font-weight: 700px;
  color: #333333;
}

section .section-six ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section .section-six ul li {
  margin-left: 30px;
}

section .section-six ul li a {
  font-size: 16px;
  font-weight: 700;
  color: #2a9dbc;
}

section .section-six ul li a:hover {
  color: #24819a;
}

section .section-six ul li a:hover i {
  margin-left: 14px;
  -webkit-transition: 1s;
  transition: 1s;
}

footer div.footer_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: 0px 0px 0px 0px;
      -ms-flex-align: 0px 0px 0px 0px;
          align-items: 0px 0px 0px 0px;
}

footer div.footer_section div.footer_logo {
  background-color: #b63838;
  width: 35%;
}

footer div.footer_section div.footer_logo svg {
  margin: 190px 0px 0px 70px;
}

footer div.footer_section div.footer_right--blog {
  background-color: #333333;
  width: 65%;
}

footer div.footer_section div.footer_right--blog div.footer_container {
  display: block;
  width: 85%;
  margin: 80px 0px 0px 0px;
  margin-left: 7.5%;
}

footer div.footer_section div.footer_right--blog div.footer_container div.form_line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: -20px 0px 65px 0px;
}

footer div.footer_section div.footer_right--blog div.footer_container div.form_line p {
  color: #ffff;
  font-size: 26px;
  font-weight: 300;
}

footer div.footer_section div.footer_right--blog div.footer_container div.form_line form {
  width: 43%;
  background-color: #ffff;
  border-radius: 5px;
}

footer div.footer_section div.footer_right--blog div.footer_container div.form_line form input {
  border: none;
  outline: none;
  border-bottom: 3px solid transparent;
  background: #ffff;
  color: #ffff;
  font-size: 22px;
  width: 90%;
  height: 60px;
  border-radius: 5px;
  font-size: 24px;
  font-weight: 400;
  padding-left: 20px;
}

footer div.footer_section div.footer_right--blog div.footer_container div.form_line form button {
  border: none;
  background: transparent;
  color: #e24747;
  font-size: 20px;
}

footer div.footer_section div.footer_right--blog div.footer_container .footer_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: -20px 0px 100px 0px;
}

footer div.footer_section div.footer_right--blog div.footer_container .footer_links .footer_links--item .footer_heading {
  color: #666666;
  line-height: 50px;
  font-size: 14px;
  font-weight: 400;
}

footer div.footer_section div.footer_right--blog div.footer_container .footer_links .footer_links--item .list--footer {
  margin: -18px 0px 0px 0px;
}

footer div.footer_section div.footer_right--blog div.footer_container .footer_links .footer_links--item .list--footer .list_item--footer {
  color: #ffff;
  margin: 10px 0px 0px 0px;
  font-size: 14px;
  list-style: none;
  text-decoration: none;
}

footer div.footer_section div.footer_right--blog div.footer_container .footer_links .footer_links--item .list--footer .list_item--footer a {
  color: inherit;
  text-decoration: none;
}

footer div.footer_section div.footer_right--blog div.footer_container .footer_links .footer_links--item .list--footer .list_item--footer a:hover {
  text-decoration: underline;
}

footer div.footer_section div.footer_right--blog div.footer_container .footer_links--login_col {
  color: #ffff;
  text-decoration: none;
}

footer div.footer_section div.footer_right--blog div.footer_container .footer_links--login_col ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: -70px 0px 0px 300px;
}

footer div.footer_section div.footer_right--blog div.footer_container .footer_links--login_col ul li {
  list-style: none;
  text-decoration: none;
}

footer div.footer_section div.footer_right--blog div.footer_container .footer_links--login_col ul li a {
  color: inherit;
  font-size: 14px;
  font-weight: 600;
  line-height: 50px;
  text-decoration: none;
}

footer div.footer_section div.footer_right--blog div.footer_container .footer_links--login_col ul li a:hover {
  color: inherit;
  text-decoration: underline;
  -webkit-transition: 1s;
  transition: 1s;
}

footer div.footer_section div.footer_right--blog div.footer_container .footer_links--login_col ul li a:hover i {
  margin-left: 14px;
  -webkit-transition: 1s;
  transition: 1s;
}

footer div.footer_section div.footer_right--blog div.footer_container .copyright-social_media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 0px 100px 0px;
}

footer div.footer_section div.footer_right--blog div.footer_container .copyright-social_media .copyright {
  font-size: 14px;
  font-weight: 400;
  color: #666666;
}

footer div.footer_section div.footer_right--blog div.footer_container .copyright-social_media .socialmedia {
  display: inherit;
}

footer div.footer_section div.footer_right--blog div.footer_container .copyright-social_media .socialmedia li {
  list-style: none;
  text-decoration: none;
}

footer div.footer_section div.footer_right--blog div.footer_container .copyright-social_media .socialmedia li a {
  margin: 0px 35px 0px 0px;
  color: #666666;
  font-size: 14px;
  font-weight: 400;
}

footer {
  color: white !important;
}

@media (max-width: 770px) {
  header .header_section .container {
    width: 95%;
    margin-left: 2.5%;
  }
  header .header_section .container #nav_panel, header .header_section .container .help_cart_login {
    display: none;
    position: absolute;
    top: 60px;
    right: 0px;
  }
  header .header_section .container #nav_panel ul, header .header_section .container .help_cart_login ul {
    display: block;
  }
  header .header_section .container #nav_panel ul li i, header .header_section .container .help_cart_login ul li i {
    display: none;
  }
  header .header_section .container .hamburger_cart {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header .header_section .hero {
    width: 100%;
    height: 12cm;
  }
  header .header_section .hero .banner_section .form_and_headings {
    padding: 40px 0px 0px 0px;
    width: 90%;
    margin-left: 5%;
  }
  header .header_section .hero .banner_section .form_and_headings h1 {
    font-size: 29px;
    font-weight: 900;
    width: 100%;
    text-align: center;
  }
  header .header_section .hero .banner_section .form_and_headings form {
    width: 100%;
    display: block;
    margin: 35px 0px 0px 0px;
  }
  header .header_section .hero .banner_section .form_and_headings form input {
    width: 100%;
    border-radius: 5px;
  }
  header .header_section .hero .banner_section .form_and_headings form button {
    width: 100%;
    margin: 20px 0px 0px 0px;
    border-radius: 5px;
    height: 50px;
    font-size: 15px;
    font-weight: 600;
  }
  header .header_section .hero .banner_section .form_and_headings .transfer_domain {
    padding-top: 10px;
  }
  header .header_section .hero .banner_section .form_and_headings .transfer_domain a {
    font-size: 16px;
  }
  header .header_section .hero .banner_section .form_and_headings .domain_consideration {
    margin: 18px 20px 0px 0px;
    font-size: 18px;
    font-weight: 700;
  }
  section .section_one {
    top: -50px;
  }
  section .section_one .section-one {
    display: block;
  }
  section .section_one .section-one .list-items {
    width: 95%;
    -webkit-box-shadow: 2px 3px 6px #33333346;
            box-shadow: 2px 3px 6px #33333346;
  }
  section .section-two {
    width: 99%;
    margin-left: 0.5%;
    display: block;
  }
  section .section-two .right-div_before {
    display: block;
    width: 50%;
    margin-left: 25%;
    padding: 60px 0px 50px 0px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  section .section-two .left-div {
    width: 100%;
  }
  section .section-two .left-div h1 {
    font-size: 30px;
    text-align: center;
    margin-right: 60px;
  }
  section .section-two .left-div p {
    font-size: 23px;
    font-weight: 300;
    text-align: center;
    letter-spacing: 0px;
    padding: 30px 0px 10px 0px;
  }
  section .section-two .left-div ul li {
    line-height: 1.8;
  }
  section .section-two .left-div button {
    width: 90%;
    margin-right: 30px;
    padding: 14px;
  }
  section .section-two .right-div {
    display: none;
  }
  section .section-three h1 {
    font-size: 28px;
    font-weight: 700;
  }
  section .section-three p {
    font-size: 22px;
  }
  section .section-three .reasons-to-choose-Domain {
    display: block;
    margin: -50px 0px 10px 0px;
  }
  section .section-three .reasons-to-choose-Domain .reason {
    width: 100%;
    margin: 15px 0px 10px 0px;
  }
  section .section-three .reasons-to-choose-Domain .reason .trusted_source {
    padding-top: 40px;
  }
  section .section-three .reasons-to-choose-Domain .reason .trusted_source h2 {
    font-size: 16px;
    font-weight: 300px;
    color: #333333;
  }
  section .section-four .section-four-header {
    padding-bottom: 15px;
    padding-top: 80px;
    font-size: 20px;
  }
  section .section-four .section-four-relative h1 {
    font-size: 16px;
  }
  section .section-five {
    margin-top: 89px;
  }
  section .section-five .section5_flexbox {
    display: block;
  }
  section .section-five .section5_flexbox .section-five_mobile-img {
    display: block;
    width: 50%;
    margin-left: 25%;
    padding: 70px 0px 30px 0px;
  }
  section .section-five .section5_flexbox .section-five-img {
    display: none;
  }
  section .section-five .section5_flexbox .right-block {
    margin: 10px 0px 0px 0px;
  }
  section .section-five .section5_flexbox .right-block .heading-description {
    font-size: 16px;
    font-weight: 300;
  }
  section .section-five .section5_flexbox .right-block .how-to-choose-domain a {
    font-size: 14px;
    font-weight: 400;
  }
  .regular_rate p a {
    font-size: 14px;
    font-weight: 500;
  }
  section .section-six {
    display: block;
  }
  section .section-six h1 {
    text-align: center;
  }
  section .section-six ul {
    text-align: center;
    display: block;
  }
  section .section-six ul li {
    padding: 15px 0px 5px 0px;
  }
  section .section-six ul li a {
    font-size: 14px;
  }
  footer div.footer_section div.footer_logo {
    display: none;
  }
  footer div.footer_section div.footer_right--blog {
    width: 100%;
  }
  footer div.footer_section div.footer_right--blog div.footer_container {
    width: 100%;
  }
  footer div.footer_section div.footer_right--blog div.footer_container div.form_line {
    display: block;
  }
  footer div.footer_section div.footer_right--blog div.footer_container div.form_line p {
    text-align: center;
  }
  footer div.footer_section div.footer_right--blog div.footer_container div.form_line form {
    width: 90%;
    margin-right: 5%;
    height: 41px;
  }
  footer div.footer_section div.footer_right--blog div.footer_container div.form_line form input {
    height: 41px;
    font-size: 24px;
    font-weight: 300;
  }
  footer div.footer_section div.footer_right--blog div.footer_container .footer_links {
    display: block;
    margin: 0px;
    width: 100%;
  }
  footer div.footer_section div.footer_right--blog div.footer_container .footer_links--login_col ul {
    display: block;
    margin: 0px;
    text-align: center;
  }
  footer div.footer_section div.footer_right--blog div.footer_container .footer_links--login_col ul li a {
    text-align: center;
  }
  footer div.footer_section div.footer_right--blog div.footer_container .copyright-social_media {
    display: block;
    padding: 50px 0px 0px 0px;
    position: relative;
  }
  footer div.footer_section div.footer_right--blog div.footer_container .copyright-social_media .socialmedia {
    position: absolute;
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (max-width: 990px) {
  header .header_section .container {
    width: 95%;
    margin-left: 2.5%;
  }
  header .header_section .container #nav_panel, header .header_section .container .help_cart_login {
    display: none;
    position: absolute;
    top: 60px;
    right: 0px;
  }
  header .header_section .container #nav_panel ul, header .header_section .container .help_cart_login ul {
    display: block;
  }
  header .header_section .container #nav_panel ul li i, header .header_section .container .help_cart_login ul li i {
    display: none;
  }
  header .header_section .container .hamburger_cart {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header .header_section .hero {
    width: 100%;
    height: 12cm;
  }
  header .header_section .hero .banner_section .form_and_headings {
    padding: 40px 0px 0px 0px;
    width: 90%;
    margin-left: 5%;
  }
  header .header_section .hero .banner_section .form_and_headings h1 {
    font-size: 35px;
  }
  header .header_section .hero .banner_section .form_and_headings form {
    width: 100%;
    display: block;
    margin: 35px 0px 0px 0px;
  }
  header .header_section .hero .banner_section .form_and_headings form input {
    width: 77%;
    border-radius: 5px;
  }
  header .header_section .hero .banner_section .form_and_headings form button {
    width: 20%;
    border-radius: 5px;
    height: 60px;
    font-size: 15px;
    font-weight: 600;
    padding: 0;
  }
  header .header_section .hero .banner_section .form_and_headings .transfer_domain {
    padding-top: 10px;
  }
  header .header_section .hero .banner_section .form_and_headings .transfer_domain a {
    font-size: 16px;
  }
  header .header_section .hero .banner_section .form_and_headings .domain_consideration {
    margin: 18px 20px 0px 0px;
    font-size: 18px;
    font-weight: 700;
  }
}
/*# sourceMappingURL=style.css.map */