@font-face {
    font-family: museo slab;
    src: url(../fonts/museoslab_500_macroman/Museo_Slab_500_2-webfont.woff);
}
@font-face {
    font-family: museo sans;
    src: url(../fonts/museosans_500_macroman/MuseoSans_500-webfont.woff);
}
@font-face {
    font-family: source code;
    src: url(../fonts/source_code/fonts/SourceCodePro-Regular.woff);
}
@font-face {
    font-family: cantarell;
    src: url(../fonts/cantarel/cantarell-regular-webfont.woff);
}
button{
    cursor:pointer;
}
hr{
    background-color:#e4e7eb48; ;
    border: none;
    height: 1px;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
ul li, a{
    text-decoration: none;
    list-style: none;
}
a:hover{
    text-decoration: underline;
}
.policy li a:visited{
    color: #bac0c3;
}
.flex_container{
    background-color: rgba(0, 0, 0, 0.948);
}
.flex_box{
    margin: auto;
    width: 1210px;
}
.logo-mark, .lang-currency .logo-mark{
    width: 0px;
    height: 75px;
    color: white;
}
.flex_box h6{
    text-align: center;
    color: white; 
     font-size: 20px;
     font-weight: lighter;
    font-family: museo sans;
    margin: 40px 0px 20px -20px;  
}
.flex_box h3{
    font-size: 30px;
    font-family: museo sans;
    color: #bac0c3;
}
.godaddy_guides h3{
    padding: 30px 0px 0px 0px; 
}
.godaddy_guides h1 {
    display: flex;
    align-items: center;
    font-size: 40px;
    font-family: cantarell;
    font-weight: normal;
    color: white;
}
.godaddy_guides h1 svg, .godaddy_guides h1 p{
    margin: 10px 0px 10px -329px; 
    width: 40%;
}
/* ************************* styling for footer links ************************************ */
.footer_links{
    display: flex;
    justify-content: space-between;
    margin: 50px 0px 0px 0px; 
}
.footer_left-block, .footer_right-block{
    display: flex;
    justify-content: space-between;
}
.single_block--left{
    margin: 0px 0px 0px 60px; 
}
.single_block--right{
    margin: 0px 60px 0px 0px; 
}
.single_block--left .plain_title, .single_block--left .footer--responsive li,
.single_block--right .plain_title, .single_block--right .footer--responsive li
{
    margin: 0px 0px 30px 0px; 
}
.footer--responsive li a{
    font-family: museo sans;
    font-size: 16px;
    font-weight: normal;
    color: #e4e7eba2;
}
.single_block--left h1.plain-title, .single_block--right h1.plain-title{
    color:white;
    margin: 0px 0px 30px 0px; 
    font-family: museo sans;
    font-weight: normal;
    font-size: 20px;
}
/* style for currency select box */
#country{
    width: 8vw;
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
    margin-left: 60px;
}
.select--selectbox option{
    color:black;
    font-family: museo sans;
    font-weight: normal;
    font-size: 20px;
    padding: 0px 0px 30px 0px; 
}
select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 5px;
}
.nonform i{
    color:white;
    font-size:20px;
    padding-left: -4px;
}
/* ****************************stylling of the dropdownI********************************************* */
.nonform{
    display: flex;
    align-items: center;
    margin: 0px 30px 0px 0px; 
}
/* style for the second logo at footer */
.logo--godaddy .logo-mark{   
    color: white;
    width: 210px;
    height: 75px;
    justify-content:space-around;
}
.dropdown--relative{
    position: relative;
    display:flex;
    font-size: 20px;
    font-family: museo sans;
    background: none;
    border: none;
    color: white;
    margin-left: 50px;
}
.dropdown--relative i{
    padding-left: 20px;
    font-size: 20px;
}
.dropdown--absolute{
    position: absolute;
    display: none;
    z-index: 2;
}
.dropdown--relative:focus .dropdown--absolute{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:1210px;
}
.dropdown--absolute .dropdown_ul .ul--btn{
    margin: 0px 0px 30px 0px; 
    text-align: justify;
    display: block;
    font-size: 20px;
    font-family: museo sans;
    color: rgb(40, 185, 166);
}
.ul--btn a:visited{
    color: aqua;
}
/* ************************** end of style of dropdown ********************* */
/* styling of social media logos */
.godaddy_countries--social_media{
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 0px -30px 0px; 
}
.social_media--elements{
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.social_media--elements li{
    margin: 0px 0px 0px 30px; 
    width:30px;
    height: 30px;
}  
.social_media--elements li a i{
    color: aliceblue;
    font-size: 40px;
}
/* 
**************** last part of the footer ********************** */
.last_of_footer{
    display:flex;
    justify-content: space-between;
       margin: auto;
    width: 1210px;
    margin-top: 30px;
    font-size: 16px;
    font-family: museo sans;
    font-weight: normal;
    padding:0px 0px 40px 0px; 
}
.last_of_footer .copy_right{
    display:block;
    color:white;
    font-size:16px;
}
.last_of_footer .copy_right p{
    /* margin-top: 10px; #d6d6d6 #f5f2f0 */
    color: #d6d6d6;
    line-height: 1.7;
}
.termsofcondition{
     margin-top: 35px;
}
.policy{
    display:flex;
    justify-content: space-between;
}
.policy li{
    margin:0px 0px 0px 30px; 
}
.policy li a{
    color: #bac0c3;
}