header{
    .header_section{
        .container{
           @include container(95%, 2.5%);
            #nav_panel, .help_cart_login{
                display: none;
                position: absolute;
                top: 60px;
                right:0px;
                  
                ul{
                    display: block;
                    li{
                        i{
                            display:none;
                        }
                    }
                }

            }
            .hamburger_cart{
                display:flex;
            }
        }
        .hero{
            width: 100%;
            height: 12cm;
            .banner_section{
                .form_and_headings{
                    padding:50px 0px 0px 0px;
                    @include container(90%,5%);
                    h1{
                        font-size: 35px;
                    }
                    form{
                        display:flex;
                        margin: 35px 0px 0px 0px;
                        .icon_input{
                            width: 79%;
                            border-radius: 5px;
                        }
                        button{
                            width:20%;
                            border-radius: 5px;
                            height:60px;
                            font-size:15px;
                            font-weight: 600;
                            padding: 0;

                        }
                    }
                    .transfer_domain{
                        padding-top: 10px;
                        a{
                            font-size:16px;
                        }
                    }
                    .domain_consideration{
                        margin:18px 20px 0px 0px;
                        font-size: 22px;
                        font-weight: 700;
                    }
                }
            }
        }
    }
}
.mobile_nav{
    display:block;
}